<div>
	<% const isEmpty = data.length === 0; %>
	<%- include('../common/empty', { isEmpty }) %>
	<div id="playersTableRoot" class="overflow-auto">
		<% if (!isEmpty) { %>
		<table class="players-table">
			<thead>
				<tr>
					<th>#</th>
					<th><%= strings.playersTableLevelContent %></th>
					<th><%= strings.playersTableItemLevelContent %></th>
					<th colspan="2"><%= strings.playersTableCharacterContent %></th>
					<th><%= strings.playersTableGuildContent %></th>
				</tr>
			</thead>
			<tbody id="playersTableBody">
				<% let id = 1 %>
				<% for(let player of data) { %>
				<tr id="<%= id %>" class="player-details">
					<td class="player-id"><%= id++ %></td>
					<td><div class="player-lvl"><%= player.level %></div></td>
					<td><div class="player-itemlvl"><%= Math.trunc(player.itemLevel) %></div></td>
					<td class="player-class" title="<%= classes[player.class] %>" data-player-class="<%= player.class %>">
						<img src="/static/img/icons/class/<%= player.class %>.png" width="24px" height="24px" draggable="false">
					</td>
					<td class="player-name"><a title="teralogs - <%= player.name %>" href="<%= teralogs_url %><%= player.name %>" target="_blank"><%= player.name %></a></td>
					<td class="player-guild">
						<% if (player.guildName != null) { %>
						<span class="table-guild-text"><%= player.guildName %></span>
						<% } %>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% } %>
	</div>
</div>