<%- include('layout_begin.ejs') %>
<%- include('header.ejs') %>
<div id="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="menu-content col-xxl-4 col-lg-4 col-md-10 col-sm-12" id="filterContainer">
				<div class="d-lg-block" id="filterContent">
					<div class="navigation-menu col-12">
						<div class="navigation-search">
							<input type="text" id="searchBattlegroundName" placeholder="<%= strings.searchBattlegroundNamePlaceholder %>">
							<input type="text" id="searchBattlegroundLevel" placeholder="<%= strings.searchLevelPlaceholder %>" title="<%= strings.searchLevelTitle %>">
						</div>
						<div class="navigation-select">
							<select id="selectBattlegroundSort" title="<%= strings.selectSort %>">
								<option value="minLevelDesc"><%= strings.minLevelDescContent %></option>
								<option value="minLevelAsc"><%= strings.minLevelAscContent %></option>
								<option value="nameDesc"><%= strings.nameDescContent %></option>
								<option value="nameAsc"><%= strings.nameAscContent %></option>
								<option value="playersDesc" selected="selected"><%= strings.playersDescContent %></option>
								<option value="playersAsc"><%= strings.playersAscContent %></option>
							</select>
						</div>
						<div class="navigation-button d-flex flex-sm-row">
							<button id="toggleDetails" class="flex-fill text-center mr-lg-2" value="true" title="<%= strings.toggleDetailsTitle %>">
								<img src="/static/img/icons/collapse.svg" width="20px" height="20px" draggable="false">
							</button>
							<button id="clearNavigation" class="flex-fill text-center ml-lg-2" title="<%= strings.clearNavigationTitle %>">
								<img src="/static/img/icons/reset.svg" width="20px" height="20px" draggable="false">
							</button>
						</div>
					</div>
				</div>
			</div>
			<div id="content" class="content col-xxl-6 col-lg-8 col-md-10 col-sm-12">
				<%- include(page + '_content.ejs') %>
			</div>
		</div>
	</div>
</div>
<%- include('layout_end.ejs') %>