<%- include('layout_begin.ejs', { page: "dungeons" }) %>
<%- include('header.ejs') %>
<div id="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-lg-3 col-md-12">
				<div class=" d-lg-block" id="navigationSearch">
					<div class="navigation navigation-menu">
						<div class="navigation-search col col-11">
							<input type="text" id="searchName" class="searchName col col-11" placeholder="<%= strings.searchNameDungeonPlaceholderStr %>">
							<input type="text" id="searchMinLevel" class="searchMinLevel col col-11" placeholder="<%= strings.searchMinLevelPlaceholderStr %>" title="<%= strings.searchMinLevelTitleStr %>">
							<input type="text" id="searchMinItemLevel" class="searchMinItemLevel col col-11" placeholder="<%= strings.searchMinItemLevelPlaceholderStr %>" title="<%= strings.searchMinItemLevelTitleStr %>">
						</div>
						<div class="navigation-sort col">
							<select id="sort" class="sort col-11">
								<option value="minLevelDesc"><%= strings.minLevelDescContentStr %></option>
								<option value="minLevelAsc"><%= strings.minLevelAscContentStr %></option>
								<option value="minItemLevelDesc" selected="selected"><%= strings.minItemLevelDescContentStr %></option>
								<option value="minItemLevelAsc"><%= strings.minItemLevelAscContentStr %></option>
								<option value="nameDesc"><%= strings.nameDescContentStr %></option>
								<option value="nameAsc"><%= strings.nameAscContentStr %></option>
								<option value="playersDesc"><%= strings.playersDescContentStr %></option>
								<option value="playersAsc"><%= strings.playersAscContentStr %></option>
							</select>
							<div class="col col-11">
								<div class="d-flex  flex-sm-row">
									<button id="toggleDetails" class="toggleDetails flex-fill text-center mr-lg-2">
										<img src="./../static/img/icons/collapse.svg" width="17px" height="17px">
									</button>
									<button id="clearNavigation" class="clearNavigation flex-fill text-center ml-lg-2">
										<img src="./../static/img/icons/reset.svg" width="17px" height="17px">
									</button>
								</div>
							</div>
							<div class="navigationCheckbox col col-11">
								<br>
								<span>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" id="autoupdateCheck" role="switch">
										<label class="form-check-label" for="autoupdateCheck"><%= strings.autoupdateLabelStr %></label>
									</div>
								</span>
								<br>
								<span>
									<div class="form-check form-switch">
										<input type="checkbox" class="form-check-input" id="saveCollapsed" role="switch">
										<label class="form-check-label" for="saveCollapsed"><%= strings.saveCollapsedLabelStr %></label>
									</div>
								</span>
								<br>
								<span>
									<div class="form-check form-switch">
										<input type="checkbox" class="form-check-input" id="mergeSupportMatching" role="switch">
										<label class="form-check-label" for="mergeSupportMatching"><%= strings.mergeSupportMatchingLabelStr.replace('$', dungeons_info['9999'].name) %></label>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% let isEmpty = Object.values(data).length === 0 %>
			<% if (isEmpty) { %>
			<div id="content" class="EmptyContent content col-lg-6 col-md-12">
				<h4 class="empty"><%= strings.emptyContentStr %>
					<br>
					<br>
					<img src="/static/img/icons/ElinSlip.png" width="150px" height="150px">
				</h4>
			</div>
			<% } else { %>
			<div id="content" class="content col-lg-6 col-md-12">
				<div id="dungeon-list" class="dungeon-list">
					<% for(let dungeonId in data) { %>
					<% let dungeon = data[dungeonId]; dungeonProps = dungeons_info[dungeonId]; %>
					<details open class="dungeon-details" id="<%= dungeonId %>">
						<summary class="dungeon-summary">
							<!-- <% console.log(dungeonId); %>
							<% console.log(dungeons_info[dungeonId]); %>
							<% console.log(dungeonProps); %>
							<% console.log(dungeonProps.minLevel); %> -->

							<span class="dungeon-lvl"><%= dungeonProps.minLevel %></span>
							<span class="dungeon-ilvl"><%= dungeonProps.minItemLevel %></span>
							<% let countTank = 0; dungeon.parties.forEach(p => countTank += p.players.filter(p1 => p1.role === 0).length); %>
							<% let countDmg = 0; dungeon.parties.forEach(p => countDmg += p.players.filter(p1 => p1.role === 1).length); %>
							<% let countHeal = 0; dungeon.parties.forEach(p => countHeal += p.players.filter(p1 => p1.role === 2).length); %>
							<span class="dungeon-players">
								<span class="dungeon-role"><%=countTank %> <img src="./../static/img/icons/shield.svg" width="20px" height="20px"></span>
								<span class="dungeon-role"><%=countDmg %> <img src="./../static/img/icons/sword.svg" width="20px" height="20px"></span>
								<span class="dungeon-role"><%=countHeal %> <img src="./../static/img/icons/heal.svg" width="20px" height="20px"></span>
							</span>
							<div class="dungeon-name">
								<span><%= dungeonProps.name %></span>
							</div>
						</summary>
						<% dungeon.parties.forEach(party => { %>
						<details class="party-details">
							<summary class="party-summary row row-cols-auto">
								<% Object.keys(party.players).forEach(id => { %>
								<% let player = party.players[id]; %>
								<span class="party-player col" title="<%= classes[player.class] %> - <%= player.level %>">
									<img class="party-playerImg" src="./../static/img/icons/<%= roles[player.role] %>.svg" width="15px" height="15px">
									<%= player.name %>
									<% if (player.isLeaderRequired) { %>
									<sup>
										<img class="party-playerImg" src="./../static/img/icons/leader.svg" width="13px" height="13px">
									</sup>
									<% } %>
								</span>
								<% });%>
							</summary>
							<% Object.keys(party.players).forEach(id => { %>
							<% let player = party.players[id]; %>
							<div class="party-detailed-content<%= player.level >= 65 ? ' level65 ' : ''%>">
								<p>
									<span class="party-player-summary">
										<img class="ClassImg" src="./../static/img/class_icons/<%= player.class %>.png" width="15px" height="15px" title="<%= classes[player.class] %>">
										<%= player.level %>
									</span>
									<%= player.name %>
									<% if (player.isLeaderRequired) { %>
									<sup>
										<img class="party-playerImg" src="./../static/img/icons/leader.svg" width="13px" height="13px">
									</sup>
									<% } %>
									<!-- <%= roles[player.role] %>] -->
								</p>
							</div>
							<% });%>
						</details>
						<div class="delimiter"></div>
						<% });%>
					</details>
					<% };%>
				</div>
			</div>

			<script>
				const supportDungeonProps = {
					id: 9999,
					minLevel: <%= dungeons_info['9999'].minLevel %>,
					minItemLevel: <%= dungeons_info['9999'].minItemLevel %>,
					name: '<%= dungeons_info['9999'].name %>',
					lowestDungeonLevel: 20
				};
			</script>
			<% };%>
		</div>
	</div>
</div>
<%- include('layout_end.ejs') %>