<% const page = 'dungeons'; %>
<%- include('layout_begin.ejs', { page }) %>
<%- include('header.ejs') %>
<div id="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-lg-3 col-md-12">
				<div class="d-lg-block collapse navbar-collapse" id="navigationMenu">
					<div class="navigation-menu col-12">
						<div class="navigation-search">
							<input type="text" id="searchDungeonName" placeholder="<%= strings.searchNameDungeonPlaceholderStr %>">
							<input type="text" id="searchDungeonLevel" placeholder="<%= strings.searchMinLevelPlaceholderStr %>" title="<%= strings.searchMinLevelTitleStr %>">
							<input type="text" id="searchDungeonItemLevel" placeholder="<%= strings.searchMinItemLevelPlaceholderStr %>" title="<%= strings.searchMinItemLevelTitleStr %>">
						</div>
						<div class="navigation-select">
							<select id="selectDungeonSort">
								<option value="minLevelDesc"><%= strings.minLevelDescContentStr %></option>
								<option value="minLevelAsc"><%= strings.minLevelAscContentStr %></option>
								<option value="minItemLevelDesc" selected="selected"><%= strings.minItemLevelDescContentStr %></option>
								<option value="minItemLevelAsc"><%= strings.minItemLevelAscContentStr %></option>
								<option value="nameDesc"><%= strings.nameDescContentStr %></option>
								<option value="nameAsc"><%= strings.nameAscContentStr %></option>
								<option value="playersDesc"><%= strings.playersDescContentStr %></option>
								<option value="playersAsc"><%= strings.playersAscContentStr %></option>
							</select>
						</div>
						<div class="navigation-button d-flex flex-sm-row">
							<button id="toggleDetails" class="flex-fill text-center mr-lg-2" value="true">
								<img src="/static/img/icons/collapse.svg" width="20px" height="20px" draggable="false">
							</button>
							<button id="clearNavigation" class="flex-fill text-center ml-lg-2">
								<img src="/static/img/icons/reset.svg" width="20px" height="20px" draggable="false">
							</button>
						</div>
						<div class="navigation-checkbox">
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="autoupdateCheck" role="switch">
								<label class="form-check-label" for="autoupdateCheck"><%= strings.autoupdateLabelStr %></label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="saveCollapsed" role="switch">
								<label class="form-check-label" for="saveCollapsed"><%= strings.saveCollapsedLabelStr %></label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="mergeSupportMatching" role="switch">
								<label class="form-check-label" for="mergeSupportMatching"><%= strings.mergeSupportMatchingLabelStr.replace('$', dungeons_info['9999'].name) %></label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="content" class="content col-lg-6 col-md-12">
				<%- include('empty.ejs', { page, isEmpty: Object.values(data).length === 0 }) %>
				<div id="dungeonList" class="dungeon-list">
					<%- include('dungeon_details.ejs', { page }) %>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	const supportDungeonProps = {
		id: 9999,
		minLevel: <%= dungeons_info['9999'].minLevel %>,
		minItemLevel: <%= dungeons_info['9999'].minItemLevel %>,
		name: '<%= dungeons_info['9999'].name %>',
		lowestDungeonLevel: 20
	};
</script>
<%- include('layout_end.ejs', { page }) %>