<%- include('layout_begin.ejs') %>
<%- include('header.ejs') %>
<div id="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="menu-content col-xxl-4 col-lg-4 col-md-10 col-sm-12">
				<div class="d-lg-block collapse navbar-collapse" id="navigationMenu">
					<div class="navigation-menu col-12">
						<div class="navigation-search">
							<input type="text" id="searchDungeonName" placeholder="<%= strings.searchDungeonNamePlaceholder %>">
							<input type="text" id="searchDungeonLevel" placeholder="<%= strings.searchLevelPlaceholder %>" title="<%= strings.searchLevelTitle %>">
							<input type="text" id="searchDungeonItemLevel" placeholder="<%= strings.searchDungeonItemLevelPlaceholder %>" title="<%= strings.searchDungeonItemLevelTitle %>">
						</div>
						<div class="navigation-select">
							<select id="selectDungeonRank" title="<%= strings.selectDungeonRankTitle %>">
								<option value="default" selected="selected"><%= strings.selectDungeonRankDefaultContent %></option>
								<% const maxRank = Math.max(...(Object.values(dungeons_info).map(d => d.rank))) %>
								<% for(let i = 1; i <= maxRank; i++) { %>
								<option value="<%= i %>"><%= 'â­'.repeat(i) %></option>
								<% } %>
							</select>
							<select id="selectDungeonSort" title="<%= strings.selectSort %>">
								<option value="minLevelDesc"><%= strings.minLevelDescContent %></option>
								<option value="minLevelAsc"><%= strings.minLevelAscContent %></option>
								<option value="minItemLevelDesc" selected="selected"><%= strings.minItemLevelDescContent %></option>
								<option value="minItemLevelAsc"><%= strings.minItemLevelAscContent %></option>
								<option value="nameDesc"><%= strings.nameDescContent %></option>
								<option value="nameAsc"><%= strings.nameAscContent %></option>
								<option value="playersDesc"><%= strings.playersDescContent %></option>
								<option value="playersAsc"><%= strings.playersAscContent %></option>
								<option value="rankDesc"><%= strings.dungeonRankDescContent %></option>
								<option value="rankAsc"><%= strings.dungeonRankAscContent %></option>
							</select>
						</div>
						<div class="navigation-button d-flex flex-sm-row">
							<button id="toggleDetails" class="flex-fill text-center mr-lg-2" value="true" title="<%= strings.toggleDetailsTitle %>">
								<img src="/static/img/icons/collapse.svg" width="20px" height="20px" draggable="false">
							</button>
							<button id="clearNavigation" class="flex-fill text-center ml-lg-2" title="<%= strings.clearNavigationTitle %>">
								<img src="/static/img/icons/reset.svg" width="20px" height="20px" draggable="false">
							</button>
						</div>
						<div class="navigation-checkbox">
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="autoupdateCheck" role="switch">
								<label class="form-check-label" for="autoupdateCheck"><%= strings.autoupdateCheckLabel %></label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="saveCollapsed" role="switch">
								<label class="form-check-label" for="saveCollapsed"><%= strings.saveCollapsedLabel %></label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="mergeSupportMatching" role="switch">
								<label class="form-check-label" for="mergeSupportMatching"><%- strings.mergeSupportMatchingLabel.replace('$', instances_info['9999'].name) %></label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="hideLevel" role="switch">
								<label class="form-check-label" for="hideLevel"><%= strings.hideLevelLabel %></label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="hideItemLevel" role="switch">
								<label class="form-check-label" for="hideItemLevel"><%= strings.hideItemLevelLabel %></label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="content" class="content col-xxl-6 col-lg-8 col-md-10 col-sm-12">
				<%- include(page + '_content.ejs') %>
			</div>
		</div>
	</div>
</div>
<script>
	const supportDungeonProps = {
		id: 9999,
		minLevel: <%= instances_info['9999'].minLevel %>,
		minItemLevel: <%= instances_info['9999'].minItemLevel %>,
		name: '<%= instances_info['9999'].name %>',
		lowestDungeonLevel: 20
	};
</script>
<%- include('layout_end.ejs') %>