<header class="sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark d-flex">
            <div class="header container-fluid col-lg-12 col-md-10 col-sm-12">
                <span class="nav-item header-logo">
                    <img src="/static/img/icons/elin.png" alt="" height="40px" width="40px">
                </span>
                <span class="nav-item header-button header-page-link">
                    <% let onlineStr = (typeof online === 'undefined' || online == null) ? '' : ': ' + online %>
                    <a href="/online"><%= strings.onlineHeaderLinkContent %><%= onlineStr %></a>
                </span>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav,#navigationMenu" aria-controls="navbarNav navigationMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse flex-md-row justify-content-center" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item nav-link">
                            <span class="header-page-link"><a href="/dungeons"><%= strings.dungeonsHeaderLinkContent %></a></span>
                        </li>
                        <li class="nav-item nav-link">
                            <span class="header-page-link"><a href="/battlegrounds"><%= strings.battlegroundsHeaderLinkContent %></a></span>
                        </li>
                    </ul>
                    <div class="navbar-nav header-buttons">
                        <span class="nav-item header-button"><button id="toggleLang" value="<%= lang %>"><img src="/static/img/icons/global.svg" height="20px" width="20px"></button></span>
                        <span class="nav-item header-button"><button id="toggleStyle"><img src="/static/img/icons/heal.svg" height="20px" width="20px"></button></span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
