<header class="sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark d-flex">
            <div class="header container-fluid col-lg-12 col-md-10 col-sm-12">
                <span>
                    <img class="nav-item header-logo" src="/static/img/icons/icon.ico" alt="" height="56px" width="56px">
                </span>
                <span>
                    <% let onlineStr = (typeof online === 'undefined' || online == null) ? '' : ': ' + online %>
                    <a class="nav-item header-button header-page-link" href="/online"><%= strings.onlineHeaderLinkContent %><%= onlineStr %></a>
                </span>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav,#navigationMenu" aria-controls="navbarNav navigationMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse flex-md-row justify-content-center" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-item nav-link header-page-link" href="/dungeons"><%= strings.dungeonsHeaderLinkContent %></a>
                        </li>
                        <li>
                            <a class="nav-item nav-link header-page-link" href="/battlegrounds"><%= strings.battlegroundsHeaderLinkContent %></a>
                        </li>
                    </ul>
                    <div class="header-buttons d-flex">
                        <button class="nav-item header-button" id="toggleLang" value="<%= lang %>" title="<%= strings.toggleLangTitle %>"><img src="/static/img/icons/global.svg" height="24px" width="24px"></button>
                        <button class="nav-item header-button" id="toggleStyle" title="<%= strings.toggleStyleTitle %>"><img height="24px" width="24px"></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
