<%- include('layout_begin.ejs') %>
<%- include('header.ejs') %>
<div id="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="menu-content col-xxl-4 col-lg-4 col-md-10 col-sm-12">
				<div class="d-lg-block collapse navbar-collapse" id="navigationMenu">
					<div class="navigation-menu col-12">
						<div class="navigation-checkbox">
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="autoupdateCheck" role="switch">
								<label class="form-check-label" for="autoupdateCheck"><%= strings.autoupdateCheckLabel %></label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="content" class="content col-xxl-6 col-lg-8 col-md-10 col-sm-12">
				<%- include(page + '_content.ejs') %>
			</div>
		</div>
	</div>
</div>
<%- include('layout_end.ejs') %>