<% const isEmpty = Object.values(data).length === 0; %>
<%- include('empty.ejs', { isEmpty }) %>
<div id="lfgTableRoot">
	<% if (!isEmpty) { %>
	<table id="lfgTable" class="lfg-table players-table">
		<thead>
			<tr>
				<th>#</th>
				<th><%= strings.lfgTableCharacterContent %></th>
				<th><%= strings.lfgTablePlayerCountContent %></th>
				<th><%= strings.lfgTableMessageContent %></th>
			</tr>
		</thead>
		<tbody id="lfgTableBody">
			<% let id = 1 %>
			<% for (let key in data) { if (data[key].hasOwnProperty('messages')) { data[key].messages.forEach(msg => { %>
			<tr id="<%= id %>" class="lfg-details player-details">
				<td class="lfg-id"><%= id++ %></td>
				<td class="lfg-leader-name"><%= msg.leaderName %></td>
				<td class="lfg-player-count"><%= msg.playerCount %> / <%= msg.maxPlayers %></td>
				<td class="lfg-message"><%= msg.message %></td>
			</tr>
			<% }); } } %>
		</tbody>
	</table>
	<% } %>
</div>