<%- include('layout_begin') %>
<div id="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="menu-content col-xxl-4 col-lg-4 col-md-10 col-sm-12" id="filterContainer">
				<div class="d-lg-block" id="filterContent">
					<div class="navigation-menu col-12">
						<div class="navigation-search">
							<input type="text" id="searchPlayerName" placeholder="<%= strings.searchPlayerNamePlaceholder %>">
							<input type="text" id="searchPlayerLevel" placeholder="<%= strings.searchLevelPlaceholder %>" title="<%= strings.searchLevelTitle %>">
							<input type="text" id="searchPlayerGuild" placeholder="<%= strings.searchPlayerGuildPlaceholder %>">
						</div>
						<div class="navigation-select">
							<select id="selectPlayerClass" title="<%= strings.selectPlayerClass %>">
								<option value="default" selected="selected"><%= strings.classSelectDefaultContent %></option>
								<% for(let [i, className] of classes.entries()) { %>
								<option value="<%= i %>"><%= className %></option>
								<% } %>
							</select>
							<select id="selectPlayerSort" title="<%= strings.selectSort %>">
								<option value="timeDesc"><%= strings.loginTimeDescContent %></option>
								<option value="timeAsc" selected="selected"><%= strings.loginTimeAscContent %></option>
								<option value="levelDesc"><%= strings.playerLevelDescContent %></option>
								<option value="levelAsc"><%= strings.playerLevelAscContent %></option>
								<option value="itemLevelDesc"><%= strings.playerItemLevelDescContent %></option>
								<option value="itemLevelAsc"><%= strings.playerItemLevelAscContent %></option>
								<option value="classDesc"><%= strings.playerClassDescContent %></option>
								<option value="classAsc"><%= strings.playerClassAscContent %></option>
								<option value="nameDesc"><%= strings.playerNameDescContent %></option>
								<option value="nameAsc"><%= strings.playerNameAscContent %></option>
								<option value="guildDesc"><%= strings.playerGuildDescContent %></option>
								<option value="guildAsc"><%= strings.playerGuildAscContent %></option>
							</select>
						</div>
						<div class="navigation-button d-flex flex-sm-row">
							<button id="clearNavigation" class="flex-fill text-center ml-lg-2" title="<%= strings.clearNavigationTitle %>">
								<img src="/static/img/icons/reset.svg" width="20px" height="20px" draggable="false">
							</button>
						</div>
					</div>
				</div>
			</div>
			<div id="content" class="content col-xxl-6 col-lg-8 col-md-10 col-sm-12">
				<%- include(page + '_content') %>
			</div>
		</div>
	</div>
</div>
<%- include('layout_end') %>