<% const page = 'online'; %>
<%- include('layout_begin.ejs', { page }) %>
<%- include('header.ejs') %>
<div id="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-lg-3 col-md-12">
				<div class="d-lg-block collapse navbar-collapse" id="navigationMenu">
					<div class="navigation-menu col-12">
						<div class="navigation-search">
							<input type="text" id="searchPlayerName" placeholder="<%= strings.searchPlayerNamePlaceholderStr %>">
							<input type="text" id="searchPlayerLevel" placeholder="<%= strings.searchPlayerLevelPlaceholderStr %>" title="<%= strings.searchPlayerLevelTitleStr %>">
						</div>
						<div class="navigation-select">
							<select id="selectPlayerClass">
								<option value="default" selected="selected"><%= strings.classSelectDefaultContentStr %></option>
								<% for(let [i, className] of classes.entries()) { %>
								<option value="<%= i %>"><%= className %></option>
								<% } %>
							</select>
							<select id="selectPlayerSort">
								<option value="timeDesc"><%= strings.loginTimeDescContentStr %></option>
								<option value="timeAsc" selected="selected"><%= strings.loginTimeAscContentStr %></option>
								<option value="levelDesc"><%= strings.playerLevelDescContentStr %></option>
								<option value="levelAsc"><%= strings.playerLevelAscContentStr %></option>
								<option value="classDesc"><%= strings.playerClassDescContentStr %></option>
								<option value="classAsc"><%= strings.playerClassAscContentStr %></option>
								<option value="nameDesc"><%= strings.playerNameDescContentStr %></option>
								<option value="nameAsc"><%= strings.playerNameAscContentStr %></option>
							</select>
						</div>
						<div class="navigation-button d-flex flex-sm-row">
							<button id="clearNavigation" class="flex-fill text-center ml-lg-2">
								<img src="/static/img/icons/reset.svg" width="18px" height="18px">
							</button>
						</div>
						<div class="navigation-checkbox">
							<div class="form-check form-switch">
								<input class="form-check-input no-transition" type="checkbox" id="autoupdateCheck" role="switch">
								<label class="form-check-label" for="autoupdateCheck"><%= strings.autoupdateLabelStr %></label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content col-lg-6 col-md-12">
				<div id="content">
					<% let isEmpty = data.length === 0; %>
					<%- include('empty.ejs', { page, isEmpty }) %>
					<div id="playersTableRoot">
						<% if (!isEmpty) { %>
						<table class="players-table">
							<thead>
								<tr>
									<th>#</th>
									<th><%= strings.levelTableHeaderStr %></th>
									<th colspan="2"><%= strings.playerTableHeaderStr %></th>
								</tr>
							</thead>
							<tbody id="playersTableBody">
								<% let id = 1 %>
								<% for(let player of data) { %>
								<tr id="<%= id %>" class="player-details">
									<td class="player-id"><%= id++ %></td>
									<td class="player-lvl"><%= player.level %></td>
									<td class="player-class" title="<%= classes[player.class] %>" data-player-class="<%= player.class %>">
										<img src="/static/img/class_icons/<%= player.class %>.png" width="24px" height="24px">
									</td>
									<td class="player-name"><%= player.name %></td>
								</tr>
								<% } %>
							</tbody>
						</table>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('layout_end.ejs') %>