<tr class="party-player-detailed-content<%= (page !== 'lfg' && player.level >= 65) ? ' level65' : ''%>">
	<td>
		<span class="party-player-level"><%= player.level %></span>
	</td>
	<td>
		<span class="party-player-item-level"><%= Math.trunc(player.itemLevel) %></span>
	</td>
	<td>
		<!-- <img class="party-player-class-icon" src="/static/img/icons/class/<%= player.class %>.png" title="<%= classes[player.class] %>" draggable="false"> -->
		<img class="party-player-class-icon" src="/static/img/icons/class/<%= player.class %>.png" width="20px" height="20px" title="<%= classes[player.class] %>" draggable="false">
	</td>
	<td>
		<a class="party-player-name" title="teralogs - <%= player.name %>" href="<%= teralogs_url %><%= player.name %>" target="_blank">
			<%= player.name %>
			<% if (player.isLeaderRequired) { %>
			<img class="party-player-icon party-leader" width="20px" height="20px">
			<% } %>
		</a>
	</td>
	<td>
		<% if (player.guildName != null) { %>
		<span class="party-player-guild"><%= player.guildName %></span>
		<% } %>
	</td>
</tr>