<div class="modal fade" id="staticBackdrop" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dropdown-menu">
            <div class="modal-header">
                <h5><%= strings.settingsTitle %></h5>
                <button type="button" class="but-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="/static/img/icons/close-l.svg" alt="" width="16" height="16">
                </button>
            </div>
            <div class="modal-body">
                <div class="row modal-delimiter modal-sections">
                    <div class="col-4 modal-sections-title"><%= strings.settingsGeneralTitle %></div>
                    <div class="col modal-sections-body">
                        <div>
                            <%= strings.changeLanguageTitle %>
                            <button class="modal-button" id="toggleLang" value="<%= lang %>" title="<%= strings.toggleLangTitle %>">
                                <span class="lang-title"><%- strings.changeLanguageContent %></span>
                                <!-- <img src="/static/img/icons/global.svg" height="20px" width="20px" draggable="false"> -->
                            </button>
                        </div>
                        <%- include('checkbox', { name: 'autoupdateCheck' }) %>
                    </div>
                </div>
                <div class="row modal-delimiter modal-sections">
                    <div class="col-4 modal-sections-title"><%= strings.settingsThemeTitle %></div>
                    <div class="col modal-sections-body">
                        <button class="modal-button" id="toggleStyle" title="<%= strings.toggleStyleTitle %>">
                            <img height="26px" width="26px" draggable="false">
                            <%= strings.changeThemeTitle %>
                        </button>
                        <%- include('checkbox', { name: 'disableBackground' }) %>
                    </div>
                </div>
                <% if (page === 'dungeons' || page === 'battlegrounds') { %>
                <div class="row modal-sections">
                    <div class="col-4 modal-sections-title"><%= strings.settingsCurrentListTitle %></div>
                    <div class="col modal-sections-body">
                        <%- include(page + '_settings') %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>