<div class="modal fade" id="staticBackdrop" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dropdown-menu">
            <div class="modal-header">
                <h5><%= strings.settingsTitle %></h5>
                <button type="button" class="but-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="/static/img/icons/close-l.svg" alt="" width="16" height="16">
                </button>
            </div>
            <div class="modal-body">
                <div class="row modal-delimiter modal-sections">
                    <div class="col-4 modal-sections-title"><%= strings.ModalTitleGeneral %></div>
                    <div class="col modal-sections-body">
                        <button class="modal-button" id="toggleLang" value="<%= lang %>" title="<%= strings.toggleLangTitle %>">
                            <%= strings.changeInterfaceLanguage %>
                            <span class="lang-title"><%= strings.changeInterfaceLanguageTitle %></span>
                            <!-- <img src="/static/img/icons/global.svg" height="20px" width="20px" draggable="false"> -->
                        </button>
                        <%- include('checkbox.ejs', { name: 'autoupdateCheck' }) %>
                    </div>
                </div>
                <div class="row modal-delimiter modal-sections">
                    <div class="col-4 modal-sections-title"><%= strings.ModalTitleTheme %></div>
                    <div class="col modal-sections-body">
                        <button class="modal-button" id="toggleStyle" title="<%= strings.toggleStyleTitle %>">
                            <img height="26px" width="26px" draggable="false">
                            <%= strings.ModalSwitchInterfaceTheme %>
                        </button>
                        <%- include('checkbox.ejs', { name: 'settingsDisableBackground' }) %>
                    </div>
                </div>
                <% if (page === 'dungeons' || page === 'battlegrounds') { %>
                <div class="row modal-sections">
                    <div class="col-4 modal-sections-title"><%= strings.ModalTitleCurrentList %></div>
                    <div class="col modal-sections-body">
                        <%- include(page + '_settings.ejs') %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>