<%
	const lastUp = data[0]?.lastUpdate;
	let time = '';

	if (lastUp) {
		const diffMs = Date.now() - new Date(lastUp);
		const minutes = Math.floor(diffMs / 60000);
		const hours = Math.floor(minutes / 60);

		if (hours >= 1) {
			time = hours + strings.lfgLastUpdateHourAgo;
		} else if (minutes >= 1) {
			time = minutes + strings.lfgLastUpdateMinuteAgo;
		} else {
			time = strings.lfgLastUpdateLessThanMinuteAgo;
		}
	}
%>
<%- include('../common/empty', { isEmpty: Object.values(data).length === 0 }) %>
<div id="lfgList" class="lfg-list">
	<%
		for (let key in data) {
			if (data[key].hasOwnProperty('messages')) {
				data[key].messages.forEach(msg => {
	%>
	<details class="lfg-details" data-lfg-id="<%= msg.player?.playerId ?? '0' %>">
		<summary class="lfg-summary">
			<div>
				<span class="lfg-message"><%= msg.message %></span>
				<span class="lfg-leader-name"><%= msg.leaderName %></span>
			</div>
			<span class="lfg-player-count text-end">
				<%= msg.playerCount %> / <%= msg.maxPlayers %>
			</span>
		</summary>
		<% if (msg.player != null) { %>
		<div class="party-detailed-content overflow-auto">
			<table>
				<tbody>
					<%- include('../common/party_player_detailed', { player: msg.player }) %>
				</tbody>
			</table>
		</div>
		<% } %>
	</details>
	<% }); } } %>
</div>
<div class="last-update">
	<% if (data['0'] != null) { %>
	<div class="out-update-time">
		<span class="update-text"><%= strings.lfgLastUpdateContent %></span>
		<span class="update-time"><%= time %></span>
	</div>
	<% } %>
	<div class="warning-update">
		<span><%= strings.lfgWarningContent %></span>
	</div>
</div>
</div>