<div class="navigation-search">
	<input type="text" id="searchLfgMessage" placeholder="<%= strings.searchLfgMessagePlaceholder %>">
</div>
<div class="navigation-select">
	<select id="selectLfgSort" title="<%= strings.selectSort %>">
		<option value="playersDesc" selected="selected"><%= strings.playersDescContent %></option>
		<option value="playersAsc"><%= strings.playersAscContent %></option>
		<option value="nameDesc"><%= strings.playerNameDescContent %></option>
		<option value="nameAsc"><%= strings.playerNameAscContent %></option>
	</select>
</div>
<div class="navigation-button d-flex flex-sm-row">
	<button type="button" id="clearNavigation" class="flex-fill text-center ml-lg-2" title="<%= strings.clearNavigationTitle %>">
		<img src="/static/img/icons/reset.svg" width="20px" height="20px" draggable="false">
	</button>
</div>