<%
	for (let dungeonId in data) {
		const dungeon = data[dungeonId]; dungeonProps = instances_info[dungeonId];
		if (dungeonProps == undefined) { 
			dungeonProps = { 'minLevel': 0, 'maxLevel': 0, 'name': dungeonId + ' - ???' }; 
			if (page === 'dungeons')
			{
				dungeonProps.minItemLevel = 0;
			} 
		}
%>
<details open class="dungeon-details" id="<%= dungeonId %>">
	<summary class="dungeon-summary">
		<span class="dungeon-lvl"><%= dungeonProps.minLevel %></span>
		<% if (page === 'dungeons') { %>
		<span class="dungeon-ilvl"><%= dungeonProps.minItemLevel %></span>
		<% } %>
		<%
			let countTank = 0, countDmg = 0, countHeal = 0;
			dungeon.parties.forEach(p => countTank += p.players.filter(p1 => p1.role === 0).length);
			dungeon.parties.forEach(p => countDmg += p.players.filter(p1 => p1.role === 1).length);
			dungeon.parties.forEach(p => countHeal += p.players.filter(p1 => p1.role === 2).length);
		%>
		<span class="dungeon-name"><%= dungeonProps.name %></span>
		<% if (page === 'dungeons') { %>
		<span class="dungeon-rank" data-dungeon-rank="<%= dungeonProps.rank %>">
			<img class="dungeon-rank-<%= dungeonProps.rank %>" draggable="false">
		</span>

		<% } %>
		<span class="dungeon-players">
			<% if (page === 'dungeons') { %>
			<span class="dungeon-role"><img class="dungeon-role-tank" width="20px" height="20px"> <%= countTank %></span>
			<% } %>
			<span class="dungeon-role"><img class="dungeon-role-dmg" width="20px" height="20px"> <%= countDmg %></span>
			<span class="dungeon-role"><img class="dungeon-role-heal" width="20px" height="20px"> <%= countHeal %></span>
		</span>
	</summary>

	<%
		dungeon.parties.forEach(party => {
			const playerCount = Object.keys(party.players).length;
			let maxNameLength = 0;
			if (playerCount > 1) {
				const playerNames = Object.values(party.players).map(p => p.name.length + (p.isLeaderRequired ? 3 : 0));
				maxNameLength = Math.max(...playerNames);
			}
	%>

	<div class="delimiter"></div>
	<details class="party-details" data-party-id="<%= dungeonId + '_' + party.players[0].playerId %>">
		<summary class="party-summary row row-cols-auto">
			<%
				Object.keys(party.players).forEach(id => {
					const player = party.players[id];
			%>
			<span class="party-player col" title="<%= classes[player.class] %> - <%= player.level %>">
				<img class="party-player-icon dungeon-role-<%= roles[player.role] %>" width="20px" height="20px">
				<%= player.name %>
				<% if (player.isLeaderRequired) { %>
				<img class="party-player-icon party-leader" width="20px" height="20px">
				<% } %>
			</span>
			<% }); %>
		</summary>
		<div class="party-detailed-content overflow-auto">
			<table>
				<tbody>
					<% Object.keys(party.players).forEach(id => { %>
					<%- include('./party_player_detailed', { player: party.players[id] }) %>
					<% }); %>
				</tbody>
			</table>
		</div>
	</details>
	<% }); %>
</details>
<% } %>