<div class="navigation-select">
	<select id="selectPlayerSort" title="<%= strings.selectSort %>">
		<option value="default" selected="selected"><%= strings.defaultSortContent %></option>
		<option value="labelDesc"><%= strings.nameDescContent %></option>
		<option value="labelAsc"><%= strings.nameAscContent %></option>
		<option value="valueDesc"><%= strings.playersDescContent %></option>
		<option value="valueAsc"><%= strings.playersAscContent %></option>
	</select>
</div>
<div class="navigation-button d-flex flex-sm-row">
	<button id="clearNavigation" class="flex-fill text-center ml-lg-2" title="<%= strings.clearNavigationTitle %>">
		<img src="/static/img/icons/reset.svg" width="20px" height="20px" draggable="false">
	</button>
</div>