<div class="navigation-search">
	<input type="text" id="searchBattlegroundName" placeholder="<%= strings.searchBattlegroundNamePlaceholder %>">
	<input type="text" id="searchBattlegroundLevel" placeholder="<%= strings.searchLevelPlaceholder %>" title="<%= strings.searchLevelTitle %>">
</div>
<div class="navigation-select">
	<select id="selectBattlegroundSort" title="<%= strings.selectSort %>">
		<option value="minLevelDesc"><%= strings.minLevelDescContent %></option>
		<option value="minLevelAsc"><%= strings.minLevelAscContent %></option>
		<option value="nameDesc"><%= strings.nameDescContent %></option>
		<option value="nameAsc"><%= strings.nameAscContent %></option>
		<option value="playersDesc" selected="selected"><%= strings.playersDescContent %></option>
		<option value="playersAsc"><%= strings.playersAscContent %></option>
	</select>
</div>
<div class="navigation-button d-flex flex-sm-row">
	<button id="toggleDetails" class="flex-fill text-center mr-lg-2" data-value="true" title="<%= strings.toggleDetailsTitle %>">
		<img width="20px" height="20px" draggable="false">
	</button>
	<button id="clearNavigation" class="flex-fill text-center ml-lg-2" title="<%= strings.clearNavigationTitle %>">
		<img src="/static/img/icons/reset.svg" width="20px" height="20px" draggable="false">
	</button>
</div>